
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Italiano';
    src: url('../fonts/Italiano-Regular.ttf') format('truetype');
    font-weight:lighter;
}
@font-face {
    font-family: 'Aboreto';
    src: url('../fonts/Aboreto-Regular.ttf') format('truetype');
    font-weight:lighter;
}

:root {
    --taupe: rgba(134, 105, 105, 0.626);
    --black: #343231;
    --text: #F5F5F5;
    --button: #f5f5f5ce;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page1, .page2, .page3, .page4, .page5 {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Noto';
    font-weight: 200;
}

h2, h3, h4, h5, h6{
    font-family: 'Noto';
    font-weight: 200;
}

p{
     font-family: 'Aboreto';
    font-weight: 200;
}

a{
    font-family: 'noto';
    font-style: italic;
    list-style-image: url(../images/bullet.png);
    text-decoration: none;
    cursor: pointer;
}

img{
    object-fit: cover;
}

button{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--button);
    outline: none;
    color: var(--button);
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
}

.txt-align{
    text-align: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-even{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flex-start{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
header{
    width: 100%;
    position: absolute;
    top: 8px;
    z-index: 999;
}

header ul{
    width: 40rem;
    z-index: 999;
}
.page1 header h1{
    font-size: 1.5rem;
}
.page1 button{
    margin-top: 2rem;
}

.page1{
    background-image: url(../images/laptop2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    color: var(--text);
}

.page1 h1{
    font-size: 5rem;
    padding: 0rem 5rem 0rem 5rem;
    text-shadow: 2px 2px 5px rgb(93, 92, 92);
}
.page1 h2{
    margin-top: 0.5rem;
}

.page2, .page4{
    background-color: var(--taupe);
    color: var(--black);
}
.page3, .page5{
    background-color: var(--black);
    color: var(--text);
}
.project-cont{
    width: 100vw;
}
.project{
    height: 80vh;
    width: 20vw;
    background-color: var(--taupe);
    box-shadow: 0 0 8px rgba(125, 70, 88, 0.6); 
}
.project .txt-align{
    padding: 1rem;
    font-size: 0.8rem;
}

.hiddenButtons{
    display: none;
    
}
.project:hover .hiddenButtons {
    display: block; 
}

.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}
.default, .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.hover {
    opacity: 0;
}

.image-wrapper:hover .hover {
    opacity: 1;
    cursor: pointer;
}

.image-wrapper:hover .default {
    opacity: 0;
}

.page3 img, .page3 .image-wrapper{
    height: 100%;
    width: 100%;
}

.page2 .info{
    background-color: white;
    z-index: 999 !important;
    width: 30rem;
    padding: 1rem;
    margin-right: 20rem;
}
.page2 .info h1{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.page2 img:first-child{
    height: calc(100vh - 1px) !important;
    width: 50%;
    z-index: 0 !important;
}
.overlap-img{
    z-index: 999 !important;
    margin-left: -9rem;
}

.about-text{
    z-index: 999;
    width: 60%;
    border-right: 1.5px solid var(--black) !important;
    height: 100vh;
    width: 70%;
    z-index: 0;
    margin-right: 5rem !important;
}
.about-text img{
    margin-left: 1.5rem;
    margin-top: -2rem;
}
.about-text h1{
    font-family: sans-serif;
    font-size: 1rem;
}
.about-text h2{
    font-size: 3.5rem;
}
.about-text p{
    width: 80%;
}

.SS{
 width: 100%;   

}
.page4 .skills{
    height: 100vh;
    padding: 6rem 0rem 1.5rem 6rem;
    width: 42%;
   
}
.page4 .services{
    background-color: var(--black);
    width: 58%;
    padding: 0rem 2rem 0rem 0rem;
    height: 100vh;

}

.tab{
    background-color: var(--black);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 15rem;
    box-shadow: 0 0 15px rgba(125, 70, 88, 0.6); 
}
.tab img{
    width: 100%;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
}
.tab h1{
    padding: 0.5rem 0rem 0.2rem 0rem;
}
.tab h2{
    font-size: 1rem;
}
.tab p{
    padding: 1rem 2rem 1rem 2rem;
    font-size: 0.6rem;
    font-family: 'Aboreto';
    font-weight: 200;
}

.skills h1{
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    font-size: 3rem;
    width: 25rem;
}
.skills h2{
   padding-bottom: 0.5rem;
    font-weight: 600;
}
.skills ul{
  margin-bottom: 1rem;
}

.webskills1{
    margin-left: 1rem;
}
.webskills2{
    margin-left: 5rem;
}

.contact-imgs{
    height: 100vh;
    width: 50%;
    padding: 6rem 3rem 1rem 3rem;
}
.contact-imgs img{
    margin-bottom: 1.5rem;
}
.contact{
    width: 50%;
    height: 100vh;
    flex-direction: column;
}
.contact-heading{
    width: 100%;
    height: 3rem;
    flex-direction: column;
}
.contact span{
    color: transparent;
    border-bottom: 1px solid white;
}
.contact h1{
    margin-top: -1rem;
    background-color: var(--black);
    width: 10rem;
}
